PORT=3001
MONGO_URI=mongodb://localhost:27017/ielts_auth
JWT_SECRET=your_jwt_secret_here

# Local Node.js run on host machine
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Docker Compose run inside container network
# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
